.banner {
	position: relative;
}

.banner h1 {
	position: absolute;
	font-size: 2em;
	left: 0.5em;
	width: min-content;
	background-color: var(--tertiary-bg-color);
	border-radius: 0px 0px 5px 5px;
	padding: 0.25em 0.5em;
}

.banner-img {
	width: 100%;
	max-height: 800px;
	object-fit: cover;
}

.details {
	padding: 1em;
	background-color: var(--main-bg-color);
}

.more-photos {
	height: 300px;
	max-width: 300px;
	object-fit: cover;
}