html {
	height: 100%;
	--main-bg-color: #FFFFFE;
	--secondary-bg-color: #E3F6F5;
	--tertiary-bg-color: #BAE8E8;
	--headline-color: #272343;
	--paragraph-color: #2D334A;
	--button-text-color: #272343;
	--button-color: #FFD803;
	--call-to-action: #FFD803;
}

body {
	height: 100%;
	margin: 0;
	padding: 2em;
	font: 100%/1.5 'Helvetica Neue', sans-serif;
	text-align: left;
	background-color: var(--secondary-bg-color);
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}

section {
	margin-bottom: 3em;
}

p {
	margin: 0;
	font-weight: 225;
	line-height: 1.8em;
	font-size: 1.05em;
} p + p { text-indent: 1em; }


h1 {
	width: fit-content;
	margin: 0;
	color: var(--headline-color);
	font-size: 4.096em;
	line-height: 0.95em;
}

h2 {
	width: fit-content;
	margin: 0;
	color: var(--headline-color);
	font-size: 2.618em;
	line-height: 1.15em;
	margin-bottom: 0.5em;
}

h3 {
	width: fit-content;
	margin: 0;
	color: var(--headline-color);
	font-size: 1.929em;
	line-height: 1.2em;
	margin-bottom: 0.5em;

}

h4 {
	width: fit-content;
	margin: 0;
	color: var(--headline-color);
	font-size: 1.618em;
	margin-bottom: 0.5em;
}

h5 {
	width: fit-content;
	margin: 0;
	color: var(--headline-color);
	font-size: 1.192em;
	margin-bottom: 0.5em;
}

h6 {
	width: fit-content;
	margin: 0;
	color: var(--headline-color);
	font-size: 1em;
	margin-bottom: 0.5em;
}